In [1]:
import sys
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
sys.path.append('/projects/trans_scratch/validations/workspace/szong/Cervical/notebook')
import sz_toolbox as szt
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
wkdir = '/projects/trans_scratch/validations/workspace/szong/Cervical/cnv/'
hivposf = '/home/szong/bin/GISTIC_2_0_22/gatk_118_HIV_pos/broad_significance_results.txt'
hivnegf = '/home/szong/bin/GISTIC_2_0_22/gatk_118_HIV_neg/broad_significance_results.txt'
tcgaf = '/home/szong/bin/GISTIC_2_0_22/tcga/broad_significance_results.txt'
# htmcpf = '/home/szong/bin/GISTIC_2_0_22/gatk_118_patients/broad_significance_results.txt'
arm_threshold = 0.25
hivpos = pd.read_csv(hivposf, sep='\t')
hivpos.head(2)
hivneg = pd.read_csv(hivnegf, sep='\t')
hivneg[:2]
tcga = pd.read_csv(tcgaf, sep='\t')
tcga[:2]

,Arm,# Genes,Amp frequency,Amp z-score,Amp q-value,Del Frequency,Del z-score,Del q-value
0,1p,2121,0.50,3.63,0.000812,0.17,-1.68,0.997
1,1q,1955,0.57,4.82,0.000014,0.09,-2.68,0.997

,Arm,# Genes,Amp frequency,Amp z-score,Amp q-value,Del Frequency,Del z-score,Del q-value
0,1p,2121,0.57,3.03,6.890000e-03,0.33,0.00793,0.994
1,1q,1955,0.79,6.44,1.160000e-09,0.18,-1.04000,0.994

,Arm,# Genes,Amp frequency,Amp z-score,Amp q-value,Del Frequency,Del z-score,Del q-value
0,1p,2121,0.35,5.5,1.800000e-07,0.06,-3.49,1.0
1,1q,1955,0.51,10.8,0.000000e+00,0.06,-3.18,1.0

In [5]:
def uniq_bands(df1, df2, alteration_type):
    d = {'amp': 'Amp q-value', 'del': 'Del q-value'}
    alt_type = d[alteration_type.lower()]
    alter1 = df1[df1[alt_type] <= arm_threshold].Arm.tolist()
    alter2 = df2[df2[alt_type] <= arm_threshold].Arm.tolist()
    uniq1 = szt.unique2a(alter1, alter2)
    uniq2 = szt.unique2a(alter2, alter1)
    return (uniq1, uniq2)

In [6]:
def shared_bands(df1, df2, alteration_type):
    d = {'amp': 'Amp q-value', 'del': 'Del q-value'}
    alt_type = d[alteration_type.lower()]
    alter1 = df1[df1[alt_type] <= arm_threshold].Arm.tolist()
    alter2 = df2[df2[alt_type] <= arm_threshold].Arm.tolist()
    shared = szt.intersect(alter1, alter2)
    return (shared)

In [16]:
def sig_bands(df1, alteration_type):
    d = {'amp': 'Amp q-value', 'del': 'Del q-value'}
    alt_type = d[alteration_type.lower()]
    alter1 = df1[df1[alt_type] <= arm_threshold].Arm.tolist()
    return (alter1)

# hiv+ vs hiv-

In [7]:
hivpos_uniqamp, hivneg_uniqamp = uniq_bands(hivpos, hivneg, 'amp')
hivpos_uniqdel, hivneg_uniqdel = uniq_bands(hivpos, hivneg, 'Del')
hivshared_amp = shared_bands(hivpos, hivneg, 'amp')
hivshared_del = shared_bands(hivpos, hivneg, 'Del')

In [13]:
hivpos_uniqamp
hivneg_uniqamp
hivpos_uniqdel
hivneg_uniqdel
hivshared_amp
hivshared_del

['6p', '16p', '14q', '9q', '16q', '9p']

['3p', '15q']

['13q', '5q', '21q', '4q']

[]

['19q', '20q', '1p', '5p', '20p', '8q', '1q', '3q', '8p']

['11p', '11q', '3p', '21p', '19p', '4p']

# tcga vs hiv-

In [18]:
tcga_uniqamp, hivneg2_uniqamp = uniq_bands(tcga, hivneg, 'amp')
tcga_uniqdel, hivneg2_uniqdel = uniq_bands(tcga, hivneg, 'del')
tcgashared_amp = shared_bands(tcga, hivneg, 'amp')
tcgashared_del = shared_bands(tcga, hivneg, 'del')

In [19]:
tcga_uniqamp 
hivneg2_uniqamp
tcga_uniqdel
hivneg2_uniqdel
tcgashared_amp
tcgashared_del

[]

['3p', '8p', '15q']

['22q', '17p', '5q', '4q', '6q', '3q', '10q', '13q', '18q', '8p', '9p']

['21p']

['19q', '20q', '1p', '5p', '20p', '8q', '1q', '3q']

['11p', '11q', '3p', '19p', '4p']

In [20]:
of = f'{wkdir}hivpos_uniqamp_arms_{arm_threshold}.txt'
szt.list2csv(hivpos_uniqamp, of)
of = f'{wkdir}hivneg_uniqamp_arms_{arm_threshold}.txt'
szt.list2csv(hivneg_uniqamp, of)
of = f'{wkdir}hivpos_uniqdel_arms_{arm_threshold}.txt'
szt.list2csv(hivpos_uniqdel, of)
of = f'{wkdir}hivneg_uniqdel_arms_{arm_threshold}.txt'
szt.list2csv(hivneg_uniqdel, of)

of = f'{wkdir}hiv_sharedamp_arms_{arm_threshold}.txt'
szt.list2csv(hivshared_amp, of)
of = f'{wkdir}hiv_shareddel_arms_{arm_threshold}.txt'
szt.list2csv(hivshared_del, of)

of = f'{wkdir}tcga_uniqamp_arms_{arm_threshold}.txt'
szt.list2csv(tcga_uniqamp, of)
of = f'{wkdir}tcga_uniqdel_arms_{arm_threshold}.txt'
szt.list2csv(tcga_uniqdel, of)

of = f'{wkdir}hivneg2_uniqdel_arms_{arm_threshold}.txt'
szt.list2csv(hivneg2_uniqdel, of)

of = f'{wkdir}hivneg2_uniqamp_arms_{arm_threshold}.txt'
szt.list2csv(hivneg2_uniqamp, of)

of = f'{wkdir}tcga_sharedamp_arms_{arm_threshold}.txt'
szt.list2csv(tcgashared_amp, of)
of = f'{wkdir}tcga_shareddel_arms_{arm_threshold}.txt'
szt.list2csv(tcgashared_del, of)