In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

%matplotlib inline

smgs, identified by mutsig2cv fdr false discovery rate (q) <0.1

TCGA: 14 SMGs

We identified SHKBP1, ERBB3, CASP8, HLA-A and TGFBR2 as novel SMGs in cervical cancer, and confirmed that PIK3CA, EP300, FBXW7, HLA-B, PTEN, NFE2L2, ARID1A, KRAS and MAPK1 are SMGs, as previously reported

In [19]:
f2 = '/projects/trans_scratch/validations/workspace/szong/Cervical/variant_bwamem/124_patients_new/SMGS_tcga_Akin.txt'
df2 = pd.read_csv(f2, sep='\t', header=None)
df2.columns = ['gene', 'comment']
dft = df2[df2.comment.str.startswith('tcga')]
dft.shape
dft.head(2)
tgs = dft.gene
tgs

(14, 2)

     gene                           comment
0  ARID1A        tcga_significantly_mutated
1   CASP8  tcga_novel_significantly_mutated

0     ARID1A
1      CASP8
4      EP300
6      ERBB3
7      FBXW7
8      HLA-A
9      HLA-B
10      KRAS
11     MAPK1
12    SHKBP1
13    NFE2L2
14    PIK3CA
15      PTEN
17    TGFBR2
Name: gene, dtype: object

In [20]:
f1 = '/projects/trans_scratch/validations/workspace/szong/Cervical/tcga_variants/tcga_variants.sig_genes.txt'
df1 = pd.read_csv(f1, sep='\t')
df1.head(2)

,gene,expr,reptime,hic,N_nonsilent,N_silent,N_noncoding,n_nonsilent,n_silent,n_noncoding,nnei,x,X,p,q
0,KRAS,259193.0,512.0,16.0,332516,80122,0,11,0,0,50,27,11182160,0.0,0.0
1,PIK3CA,401889.0,613.0,11.0,1531436,381598,0,59,0,0,50,17,11898796,0.0,0.0

not sure how tcga identified some of the SMGs, they run differently or included extended data?

In [23]:
df1[df1.gene.isin(tgs)]

,gene,expr,reptime,hic,N_nonsilent,N_silent,N_noncoding,n_nonsilent,n_silent,n_noncoding,nnei,x,X,p,q
0,KRAS,259193.0,512.0,16.0,332516,80122,0,11,0,0,50,27,11182160,0.000000e+00,0.000000e+00
1,PIK3CA,401889.0,613.0,11.0,1531436,381598,0,59,0,0,50,17,11898796,0.000000e+00,0.000000e+00
3,HLA-A,983517.0,596.0,36.0,510026,146470,0,18,1,0,50,31,9998760,5.351275e-14,2.523394e-10
4,PTEN,259678.0,300.0,34.0,587432,136576,0,17,0,0,50,26,9938620,1.026956e-13,3.874090e-10
5,FBXW7,117295.0,501.0,51.0,1184176,317384,0,22,1,0,50,16,13083166,6.339484e-12,1.992923e-08
6,HLA-B,2552688.0,347.0,28.0,503818,147440,0,12,0,0,50,42,16081630,4.989696e-09,1.344509e-05
7,CASP8,571730.0,386.0,37.0,830126,187792,0,10,1,0,50,26,11907332,2.882063e-05,6.795184e-02
11,MAPK1,458136.0,299.0,47.0,515264,133666,0,9,0,0,50,18,10840526,3.883423e-04,6.104093e-01
19,NFE2L2,372300.0,145.0,36.0,844482,222906,0,16,1,0,50,32,10395490,1.699071e-03,1.000000e+00
35,ARID1A,975965.0,182.0,27.0,3103612,931976,0,20,1,0,5,7,3626636,6.974512e-03,1.000000e+00
50,TGFBR2,80018.0,417.0,-9.0,830320,221354,0,5,1,0,50,29,11832060,1.091805e-02,1.000000e+00
312,ERBB3,2693176.0,215.0,38.0,1932822,549990,0,13,1,0,23,8,4832152,7.900724e-02,1.000000e+00
361,EP300,1167197.0,154.0,42.0,3360662,925768,0,27,1,0,2,2,1305814,9.110015e-02,1.000000e+00
4061,SHKBP1,820124.0,226.0,40.0,974462,302446,0,5,0,0,30,21,7005728,5.140914e-01,1.000000e+00

In [33]:
f = '/projects/trans_scratch/validations/workspace/szong/Cervical/variant_bwamem/124_patients_new/gene_mutate_freqency_tcga_vs_nci_cohort.csv'
df = pd.read_csv(f, sep='\t')
df.head(2)

   gene  tcga_patient  tcga_freq  nci_patient  nci_freq
0   7SK           3.0   0.015464          0.0   0.00000
1  A1BG           1.0   0.005155          1.0   0.00813

In [39]:
df31 = df[df.gene.isin(tgs)]

In [40]:
df31

         gene  tcga_patient  tcga_freq  nci_patient  nci_freq
1380   ARID1A          15.0   0.077320          7.0  0.056911
2781    CASP8           9.0   0.046392          9.0  0.073171
5304    EP300          21.0   0.108247         10.0  0.081301
5364    ERBB3          11.0   0.056701          6.0  0.048780
5935    FBXW7          19.0   0.097938         17.0  0.138211
7301    HLA-A          16.0   0.082474         17.0  0.138211
7302    HLA-B          11.0   0.056701         21.0  0.170732
8493     KRAS          11.0   0.056701          4.0  0.032520
9599    MAPK1           9.0   0.046392          7.0  0.056911
10792  NFE2L2          12.0   0.061856          6.0  0.048780
12256  PIK3CA          53.0   0.273196         43.0  0.349593
13057    PTEN          16.0   0.082474          7.0  0.056911
15335  SHKBP1           5.0   0.025773          2.0  0.016260
16936  TGFBR2           5.0   0.025773          4.0  0.032520