In [12]:
import pandas as pd
import matplotlib.pyplot as plt
%load_ext autoreload
%autoreload 2
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# SMGs

In [13]:
f = '/projects/trans_scratch/validations/workspace/szong/Cervical/mutsig2cv/12_sig_genes.txt'
genes = pd.read_csv(f, header=None)[0].tolist()
len(genes) # MLL2 and KMT2D
genes[:2]

12

['PIK3CA', 'FAT1']

# 118 patients

In [14]:
f = '/projects/trans_scratch/validations/workspace/szong/Cervical/118_patients.txt'
patients = pd.read_csv(f, header=None)[0].tolist()
len(patients)
patients[:2]

118

['HTMCP-03-06-02001', 'HTMCP-03-06-02002']

# meta table

In [15]:
# master_table = '/projects/trans_scratch/validations/workspace/szong/Cervical/HTMCP_Cervical_Master_Patient_Table_V4_20190703.xlsx'
master_table = '/projects/trans_scratch/validations/workspace/szong/Cervical/HTMCP_Cervical_Master_Patient_Table_V7_20190920.xlsx'
master = pd.read_excel(master_table, sep='\t', index_col='Patient', usecols=['Patient', 'HIV status', 'Cohort'])
master = master[master.Cohort == 'Discovery']
master.drop('Cohort', inplace=True, axis=1)
master['HIV status'].unique()
master = master.T
master.head(2)
master.shape

array(['Positive', 'Negative', 'Unknown'], dtype=object)

Patient,HTMCP-03-06-02001,HTMCP-03-06-02002,HTMCP-03-06-02003,HTMCP-03-06-02006,HTMCP-03-06-02008,HTMCP-03-06-02012,HTMCP-03-06-02013,HTMCP-03-06-02020,HTMCP-03-06-02036,HTMCP-03-06-02037,...,HTMCP-03-06-02417,HTMCP-03-06-02424,HTMCP-03-06-02427,HTMCP-03-06-02428,HTMCP-03-06-02434,HTMCP-03-06-02435,HTMCP-03-06-02437,HTMCP-03-06-02441,HTMCP-03-06-02442,HTMCP-03-06-02447
HIV status,Positive,Negative,Positive,Negative,Negative,Negative,Negative,Positive,Negative,Negative,...,Positive,Positive,Positive,Positive,Positive,Positive,Positive,Positive,Positive,Positive

(1, 118)

In [16]:
(master=='Positive').sum(axis=1)/118
(master=='Negative').sum(axis=1)/118

HIV status    0.610169
dtype: float64

HIV status    0.381356
dtype: float64

# discovery

In [17]:
f = '/projects/trans_scratch/validations/workspace/szong/Cervical/variant_bwamem/124_patients_new/somatic_mutation_gene_by_patient_summary_20190529.tsv'
df1 = pd.read_csv(f, sep='\t', index_col='gene')
df1.shape
df1.head(2)

(14557, 118)

,HTMCP-03-06-02001,HTMCP-03-06-02002,HTMCP-03-06-02003,HTMCP-03-06-02006,HTMCP-03-06-02008,HTMCP-03-06-02012,HTMCP-03-06-02013,HTMCP-03-06-02020,HTMCP-03-06-02036,HTMCP-03-06-02037,...,HTMCP-03-06-02417,HTMCP-03-06-02424,HTMCP-03-06-02427,HTMCP-03-06-02428,HTMCP-03-06-02434,HTMCP-03-06-02435,HTMCP-03-06-02437,HTMCP-03-06-02441,HTMCP-03-06-02442,HTMCP-03-06-02447
gene,,,,,,,,,,,,,,,,,,,,,
7SK,wt,wt,wt,wt,wt,wt,wt,wt,wt,wt,...,wt,wt,wt,wt,wt,mutated,wt,wt,wt,wt
A1BG,wt,wt,wt,wt,wt,wt,wt,wt,wt,wt,...,wt,wt,wt,wt,wt,wt,wt,wt,wt,wt

In [18]:
dfd = df1.reindex(index=genes, columns=patients)
dfd.head(2)
dfd.shape

,HTMCP-03-06-02001,HTMCP-03-06-02002,HTMCP-03-06-02003,HTMCP-03-06-02006,HTMCP-03-06-02008,HTMCP-03-06-02012,HTMCP-03-06-02013,HTMCP-03-06-02020,HTMCP-03-06-02036,HTMCP-03-06-02037,...,HTMCP-03-06-02417,HTMCP-03-06-02424,HTMCP-03-06-02427,HTMCP-03-06-02428,HTMCP-03-06-02434,HTMCP-03-06-02435,HTMCP-03-06-02437,HTMCP-03-06-02441,HTMCP-03-06-02442,HTMCP-03-06-02447
gene,,,,,,,,,,,,,,,,,,,,,
PIK3CA,mutated,mutated,wt,wt,wt,mutated,mutated,wt,mutated,wt,...,wt,wt,wt,mutated,wt,wt,wt,wt,wt,mutated
FAT1,wt,wt,wt,wt,wt,wt,wt,wt,mutated,wt,...,wt,wt,mutated,mutated,wt,mutated,wt,wt,wt,wt

(12, 118)

In [19]:
dfc = pd.concat([dfd, master]).T
dfc.head(2)

,PIK3CA,FAT1,MLL2,FBXW7,CASP8,SLC35G5,MAPK1,PCDHGA12,PSPC1,ZNF750,PCDHA9,ZC3H6,HIV status
Patient,,,,,,,,,,,,,
HTMCP-03-06-02001,mutated,wt,wt,wt,mutated,wt,wt,wt,wt,wt,wt,wt,Positive
HTMCP-03-06-02002,mutated,wt,mutated,wt,wt,wt,wt,wt,mutated,mutated,wt,wt,Negative

In [20]:
len(patients)

118

In [21]:
dfc1 = (dfc[dfc['HIV status']=='Positive'] == 'mutated').sum()/len(patients)
# dfc1
dfc2 = (dfc[dfc['HIV status']=='Negative'] == 'mutated').sum()/len(patients)
# dfc2
type(dfc1)
# combine two series into dataframe, columnwise concat
dfdf = pd.concat([dfc1, dfc2], axis=1)
dfdf.columns = ['dis_HIV_pos', 'dis_HIV_neg']
dfdf

pandas.core.series.Series

            dis_HIV_pos  dis_HIV_neg
PIK3CA         0.177966     0.169492
FAT1           0.101695     0.084746
MLL2           0.059322     0.084746
FBXW7          0.050847     0.050847
CASP8          0.042373     0.025424
SLC35G5        0.059322     0.008475
MAPK1          0.033898     0.016949
PCDHGA12       0.033898     0.025424
PSPC1          0.033898     0.016949
ZNF750         0.016949     0.025424
PCDHA9         0.008475     0.025424
ZC3H6          0.025424     0.008475
HIV status     0.000000     0.000000

# validation

In [22]:
f = '/home/szong/projects/meta/META_2018/Master_Sample_table_14X292_Oct30_2018_sz.xlsx'
dfm = pd.read_excel(f, sheet_name='CaCx targeted seq', usecols=['Biospecimen ID', 'HIV Status'])
dfm.shape
dfm.head(2)

(178, 2)

              Biospecimen ID HIV Status
0  HTMCP-03-06-02025-01A-01D   positive
1  HTMCP-03-06-02025-10A-01D   positive

In [23]:
dfm['patient'] = dfm['Biospecimen ID'].apply(lambda x: '-'.join(x.split('-')[:4]))

In [24]:
dfm.drop('Biospecimen ID', axis=1, inplace=True)

In [25]:
dfm = dfm.drop_duplicates().set_index('patient')

In [26]:
dfm['HIV Status'] = dfm['HIV Status'].str.lower()

In [27]:
dfm.head(2)
dfm.shape

                  HIV Status
patient
HTMCP-03-06-02025   positive
HTMCP-03-06-02044   negative

(90, 1)

In [28]:
dfm.drop('HTMCP-03-06-02025', inplace=True) # 2107 does not have matching normal

In [29]:
(dfm == 'negative').mean()

(dfm == 'positive').mean()

HIV Status    0.831461
dtype: float64

HIV Status    0.168539
dtype: float64

In [30]:
dfm['HIV Status'].unique()

array(['negative', 'positive'], dtype=object)

In [31]:
f = '/projects/trans_scratch/validations/workspace/szong/Cervical/variant_bwamem/validation/somatic_mutation_gene_by_patient_summary_20190624.tsv'
df1 = pd.read_csv(f, sep='\t', index_col='gene')
df1.shape
df1.head(2)

(4140, 89)

,HTMCP-03-06-02025,HTMCP-03-06-02044,HTMCP-03-06-02060,HTMCP-03-06-02061,HTMCP-03-06-02062,HTMCP-03-06-02066,HTMCP-03-06-02067,HTMCP-03-06-02072,HTMCP-03-06-02081,HTMCP-03-06-02082,...,HTMCP-03-06-02412,HTMCP-03-06-02416,HTMCP-03-06-02421,HTMCP-03-06-02423,HTMCP-03-06-02425,HTMCP-03-06-02426,HTMCP-03-06-02439,HTMCP-03-06-02446,number_patients_mutated,percent_patients_mutated
gene,,,,,,,,,,,,,,,,,,,,,
A2M,wt,wt,wt,wt,wt,wt,wt,wt,wt,wt,...,wt,wt,wt,wt,wt,wt,wt,wt,2,0.022989
AAK1,wt,wt,wt,wt,wt,wt,wt,wt,wt,mutated,...,wt,wt,wt,wt,wt,wt,wt,wt,2,0.022989

missing MLL2, use second capture results

In [32]:
ff = '/projects/trans_scratch/validations/workspace/szong/Cervical/variant_bwamem/validation/strelka_HMLM_targets_summary_20191016.txt'
df11 = pd.read_csv(ff, sep='\t')
df11.shape
df11 = df11[(df11.impact_type !='MODIFIER')&(df11.gene=='MLL2')]
pos_pats = df11['patient'].unique()

(166, 11)

In [33]:
df1.loc['MLL2',pos_pats] = 'mutated'
df1.fillna('wt', inplace=True)

In [34]:
assert (df1.loc['MLL2', :] == 'mutated').sum() == 16

In [35]:
df1 = df1.reindex(genes).T
df1.head(2)

gene,PIK3CA,FAT1,MLL2,FBXW7,CASP8,SLC35G5,MAPK1,PCDHGA12,PSPC1,ZNF750,PCDHA9,ZC3H6
HTMCP-03-06-02025,wt,wt,wt,mutated,wt,wt,wt,wt,NaN,wt,wt,wt
HTMCP-03-06-02044,mutated,wt,wt,wt,wt,wt,wt,wt,NaN,wt,wt,wt

In [36]:
dfm.shape

(89, 1)

In [37]:
dfv = pd.merge(df1, dfm, left_index=True,right_index=True, how='right')

In [38]:
dfv.head(2)
dfv.shape

,PIK3CA,FAT1,MLL2,FBXW7,CASP8,SLC35G5,MAPK1,PCDHGA12,PSPC1,ZNF750,PCDHA9,ZC3H6,HIV Status
patient,,,,,,,,,,,,,
HTMCP-03-06-02044,mutated,wt,wt,wt,wt,wt,wt,wt,NaN,wt,wt,wt,negative
HTMCP-03-06-02060,wt,mutated,wt,wt,wt,wt,wt,mutated,NaN,wt,wt,wt,negative

(89, 13)

In [39]:
dfv1 = (dfv[dfv['HIV Status']=='positive'] == 'mutated').sum()/89
# dfv1
dfv2 = (dfv[dfv['HIV Status']=='negative'] == 'mutated').sum()/89
# dfv2
type(dfv1)
# combine two series into dataframe, columnwise concat
dfvf = pd.concat([dfv1, dfv2], axis=1)
dfvf.columns = ['val_HIV_pos', 'val_HIV_neg']
dfvf

pandas.core.series.Series

            val_HIV_pos  val_HIV_neg
PIK3CA         0.033708     0.292135
FAT1           0.011236     0.112360
MLL2           0.022472     0.157303
FBXW7          0.033708     0.123596
CASP8          0.011236     0.078652
SLC35G5        0.011236     0.022472
MAPK1          0.022472     0.000000
PCDHGA12       0.000000     0.044944
PSPC1          0.000000     0.000000
ZNF750         0.000000     0.011236
PCDHA9         0.000000     0.044944
ZC3H6          0.011236     0.022472
HIV Status     0.000000     0.000000

In [40]:
dff = pd.concat([dfdf, dfvf], axis=1, sort=False).drop('HIV status').drop('HIV Status')

In [41]:
dff = dff.reindex(genes)

In [42]:
dff

          dis_HIV_pos  dis_HIV_neg  val_HIV_pos  val_HIV_neg
PIK3CA       0.177966     0.169492     0.033708     0.292135
FAT1         0.101695     0.084746     0.011236     0.112360
MLL2         0.059322     0.084746     0.022472     0.157303
FBXW7        0.050847     0.050847     0.033708     0.123596
CASP8        0.042373     0.025424     0.011236     0.078652
SLC35G5      0.059322     0.008475     0.011236     0.022472
MAPK1        0.033898     0.016949     0.022472     0.000000
PCDHGA12     0.033898     0.025424     0.000000     0.044944
PSPC1        0.033898     0.016949     0.000000     0.000000
ZNF750       0.016949     0.025424     0.000000     0.011236
PCDHA9       0.008475     0.025424     0.000000     0.044944
ZC3H6        0.025424     0.008475     0.011236     0.022472