In [4]:
import pandas as pd
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [71]:
f = '/projects/trans_scratch/validations/workspace/szong/Cervical/variant_bwamem/124_patients_new/bioapps_returned_combinedsnv_path.txt'
df = pd.read_csv(f, header=None)
df.columns = ['patient', 'csnv']
df['csnv_file'] = df.csnv + '/all.somatic.coding.snvs.merged.txt'
df.head(2)
df.shape

,patient,csnv,csnv_file
0,HTMCP-03-06-02001,/projects/somatic/NCI_SAIC_HIV_Cervical/HTMCP-...,/projects/somatic/NCI_SAIC_HIV_Cervical/HTMCP-...
1,HTMCP-03-06-02002,/projects/somatic/NCI_SAIC_HIV_Cervical/HTMCP-...,/projects/somatic/NCI_SAIC_HIV_Cervical/HTMCP-...

(117, 3)

In [116]:
df.csnv_file[0]

'/projects/somatic/NCI_SAIC_HIV_Cervical/HTMCP-03-06-02001/hg19a/GSH/A37234_A37159/combinedsnv/64278/all.somatic.coding.snvs.merged.txt'

In [136]:
def get_csnv(f, patients, variants):
    df = pd.read_csv(f, sep='\t')
    df['snv'] = df[['chr', 'pos', 'ref_base', 'alt_base']].astype(str).apply(lambda x: '_'.join(x), axis=1)
    df['patient'] = pat
    df = df[(df.snv.isin(variants)) & (df.patient.isin(patients))]
    return df

In [85]:
pd.concat?

In [137]:
dfm = pd.DataFrame()
for ix, row in df.iterrows():
    pat = row['patient']
    csnv_f = row['csnv_file']
    df1 = get_csnv(csnv_f, patients, variants) 
    df1.columns = range(df1.shape[1])
    if dfm.empty:
        dfm = df1
    else:
        dfm = pd.concat([dfm, df1], sort=False)

In [138]:
dfm.shape

(142, 28)

In [139]:
dfm.head()

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
209,3,178936091,G,A,rs104886003,missense_variant,MODERATE,MISSENSE,Gag/Aag,p.Glu545Lys/c.1633G>A,...,na,PASS,0,51,79,146,115,203,3_178936091_G_A,HTMCP-03-06-02001
210,3,178952117,A,T,na,missense_variant,MODERATE,MISSENSE,Atc/Ttc,p.Ile1058Phe/c.3172A>T,...,na,PASS,0,45,72,147,200,358,3_178952117_A_T,HTMCP-03-06-02001
48,12,49428059,C,A,na,stop_gained,HIGH,NONSENSE,Gag/Tag,p.Glu3511*/c.10531G>T,...,na,PASS,1,42,19,7,18,4,12_49428059_C_A,HTMCP-03-06-02002
54,13,20279879,T,C,rs200516102,missense_variant,MODERATE,MISSENSE,Atg/Gtg,p.Met437Val/c.1309A>G,...,na,PASS,0,30,11,76,0,317,13_20279879_T_C,HTMCP-03-06-02002
156,3,178936091,G,A,rs104886003,missense_variant,MODERATE,MISSENSE,Gag/Aag,p.Glu545Lys/c.1633G>A,...,na,PASS,0,58,226,53,258,44,3_178936091_G_A,HTMCP-03-06-02002

In [145]:
dfm = dfm[[0,1,2,3, 20,21,22,23,24,25, 26, 27]]

# SMGs mutations

In [14]:
f = '/projects/trans_scratch/validations/workspace/szong/Cervical/mutsig2cv/118_patients/smgs_reviewed.txt'
smgs = pd.read_csv(f, header=None)[0].tolist()
smgs

['PIK3CA',
 'MAPK1',
 'CASP8',
 'FBXW7',
 'MLL2',
 'ZC3H6',
 'PCDHGA12',
 'FAT1',
 'ZNF750',
 'SLC35G5',
 'PCDHA9',
 'PSPC1']

In [117]:
# f2 = '/projects/trans_scratch/validations/workspace/szong/Cervical/mutsig2cv/118_patients.maf'
f2 = '/projects/trans_scratch/validations/workspace/szong/Cervical/variant_bwamem/124_patients_new/strelka_HML_summary_20190527.txt'
df2 = pd.read_csv(f2, sep='\t', low_memory=False)
df2.head(2)

,chr,pos,ref,alt,patient,impact,impact_type,type,AA_change,gene,transcript
0,1,2706109,C,G,HTMCP-03-06-02001,SYNONYMOUS_CODING,LOW,SILENT,R16,TTC34,ENST00000401095
1,1,2706109,C,G,HTMCP-03-06-02001,SYNONYMOUS_CODING,LOW,SILENT,R16,TTC34,ENST00000574621

In [118]:
df3 = df2[df2.gene.isin(smgs)]
df3.shape

(305, 11)

In [119]:
for i in df2.columns:
    print(i)

chr
pos
ref
alt
patient
impact
impact_type
type
AA_change
gene
transcript

In [121]:
df3 = df3[['patient','gene', 'chr', 'pos', 'ref', 'alt']]
df3.head(2)

               patient    gene chr        pos ref alt
203  HTMCP-03-06-02001  PIK3CA   3  178936091   G   A
204  HTMCP-03-06-02001  PIK3CA   3  178952117   A   T

In [36]:
# df3[~df3.duplicated()]
# df3['Tumor_Sample_Barcode'] = df3['Tumor_Sample_Barcode'].apply(lambda x: x.split('_')[0])

In [37]:
df3.head(2)

,Tumor_Sample_Barcode,Hugo_Symbol,Chromosome,Start_Position,End_Position,Reference_Allele,Tumor_Seq_Allele1,Tumor_Seq_Allele2
5769,HTMCP-03-06-02001,PIK3CA,3,178936091,178936091,G,G,A
5770,HTMCP-03-06-02001,PIK3CA,3,178936138,178936138,G,G,C

In [123]:
df3 = df3.astype(str)

In [124]:
df3['snv'] = df3[['chr', 'pos', 'ref', 'alt']].apply(lambda x: '_'.join(x), axis=1)

In [125]:
df3.head()

               patient    gene chr        pos ref alt               snv
203  HTMCP-03-06-02001  PIK3CA   3  178936091   G   A   3_178936091_G_A
204  HTMCP-03-06-02001  PIK3CA   3  178952117   A   T   3_178952117_A_T
972  HTMCP-03-06-02001   CASP8   2  202149727   G  GC  2_202149727_G_GC
973  HTMCP-03-06-02001   CASP8   2  202149727   G  GC  2_202149727_G_GC
974  HTMCP-03-06-02001   CASP8   2  202149727   G  GC  2_202149727_G_GC

In [134]:
variants = df3.snv.unique()
patients = df3.patient.unique()

In [128]:
len(variants)
len(patients)

131

80

In [148]:
dfm.head(2)

,0,1,2,3,20,21,22,23,24,25,26,27
209,3,178936091,G,A,0,51,79,146,115,203,3_178936091_G_A,HTMCP-03-06-02001
210,3,178952117,A,T,0,45,72,147,200,358,3_178952117_A_T,HTMCP-03-06-02001

In [158]:
df4 = pd.merge(df3, dfm, left_on=['patient', 'snv'], right_on=[27, 26], how='left')

In [159]:
df4 = df4[~df4.duplicated()]

In [160]:
df4.shape

(172, 19)

In [161]:
of = '/projects/trans_scratch/validations/workspace/szong/Cervical/variant_bwamem/124_patients_new/smgs_mutated_allele_expressed.txt'
df4.to_csv(of, sep='\t')

In [162]:
df4.shape

(172, 19)