In [1]:
import matplotlib
import csv
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import style, colors
from matplotlib import gridspec

matplotlib.style.use('ggplot')
%matplotlib inline
matplotlib.rcParams['figure.figsize'] = (8, 6)
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
of = '/projects/trans_scratch/validations/workspace/szong/Cervical/variant_bwamem/124_patients_new/strelka_variants_HML_20190521.txt'
df = pd.read_csv(of, sep='\t')
df.head(2)
df.shape

,chr,pos,ref,alt,impact,impact_type,gene,patient
0,1,2706109,C,G,SYNONYMOUS_CODING,LOW,TTC34,HTMCP-03-06-02001
1,1,4771973,C,T,NON_SYNONYMOUS_CODING,MODERATE,AJAP1,HTMCP-03-06-02001

(36739, 8)

In [4]:
# 12 SMGS
f2 = '/projects/trans_scratch/validations/workspace/szong/Cervical/mutsig2cv/118_patients_old_vcfs/smgs.txt'
with open (f2) as file:
    genes = [line.strip() for line in file]
assert len(genes) == 12

In [5]:
genes

['PIK3CA',
 'FAT1',
 'MLL2',
 'FBXW7',
 'CASP8',
 'SLC35G5',
 'MAPK1',
 'PCDHGA12',
 'PSPC1',
 'ZNF750',
 'PCDHA9',
 'ZC3H6']

In [16]:
dfs = df[df.gene == genes[0]]
dfs.head(2)

,chr,pos,ref,alt,impact,impact_type,gene,patient
71,3,178936091,G,A,NON_SYNONYMOUS_CODING,MODERATE,PIK3CA,HTMCP-03-06-02001
72,3,178952117,A,T,NON_SYNONYMOUS_CODING,MODERATE,PIK3CA,HTMCP-03-06-02001

In [24]:
dfx = dfs.groupby('pos')[['pos']].count()
positions =  ','.join([str(i) for i in dfx.index.tolist()])
counts = ','.join([str(i) for i in dfx.pos.tolist()])

In [26]:
positions
counts

'178916638,178916876,178921549,178922322,178922324,178927457,178928079,178936082,178936091,178938915,178938934,178952074,178952085,178952117'

'1,1,1,1,2,1,1,8,22,1,2,2,4,1'

In [15]:
', '.join([str(i) for i in dfs.pos.sort_values().tolist()])

'178916638, 178916876, 178921549, 178922322, 178922324, 178922324, 178927457, 178928079, 178936082, 178936082, 178936082, 178936082, 178936082, 178936082, 178936082, 178936082, 178936091, 178936091, 178936091, 178936091, 178936091, 178936091, 178936091, 178936091, 178936091, 178936091, 178936091, 178936091, 178936091, 178936091, 178936091, 178936091, 178936091, 178936091, 178936091, 178936091, 178936091, 178936091, 178938915, 178938934, 178938934, 178952074, 178952074, 178952085, 178952085, 178952085, 178952085, 178952117'

### cbioportal link

As discussed in today's NCI meeting, this page in the internal cbiportal cbioportal is where you can make lollipop plots:
https://www.bcgsc.ca/cbioportal/mutation_mapper.jsp

This is the input format.  Note that this input needs to be tab delimited and must include the header information:
{noformat}
Hugo_Symbol Sample_ID Protein_Change Mutation_Type Chromosome Start_Position End_Position Reference_Allele Variant_Allele
AR TCGA-13-0760 L729I Missense_Mutation 23 66937331 66937331 T A