In [80]:
import pandas as pd
import numpy as np
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [213]:
f = '/projects/trans_scratch/validations/workspace/szong/Cervical/Supplymentary_table_1_from_Emma.xlsx'
df1 = pd.read_excel(f, usecols=['Patient', 'Estimated Tumour purity', 'Ploidy'], index_col='Patient')
df1.head(2)

                   Estimated Tumour purity  Ploidy
Patient
HTMCP-03-06-02001                 0.897583     2.0
HTMCP-03-06-02002                 0.688300     2.0

In [217]:
of = '/projects/trans_scratch/validations/workspace/szong/Cervical/cnv/tc_ploidy_20200228.tsv'
df1.loc[pats,:].T.to_csv(of, sep='\t')

In [87]:
# 62 patients with new DTA
f = '/projects/trans_scratch/validations/workspace/szong/Cervical/cnv/62_patients_tumour_char.txt'
pats62 = pd.read_csv(f, header=None, sep='\t')[0]
len(pats62)
pats62[:2]

62

0    HTMCP-03-06-02001
1    HTMCP-03-06-02012
Name: 0, dtype: object

In [82]:
f = '/projects/trans_scratch/validations/workspace/szong/Cervical/118_patients.txt'
pats118 = pd.read_csv(f, header=None)[0]
len(pats118)

118

In [88]:
# pats with old tumour char results
patsold = set(pats118) - set(pats62)
len(patsold)
# patsold

56

### old tumour char results

some patients have >1 results, each run is for a different rna library. some cervical patients have riboD rna libraries. the copy numbers are consistent among runs. here i use the run with polyA rna libraries.

In [28]:
f = '/projects/trans_scratch/validations/workspace/szong/Cervical/cnv/tumour_char_drug_analysis_files.txt'

files = pd.read_csv(f, header=None)
files.columns = ['file']
files['pat'] = [f.split('/')[4] for f in files['file']]
files['rna'] = [f.split('/')[9] for f in files['file']]
# len(files)
# files[:2]
files.head()

,file,pat,rna
0,/projects/NCI/NCI_HIV_Cervical/HTMCP-03-06-020...,HTMCP-03-06-02001,A37700
1,/projects/NCI/NCI_HIV_Cervical/HTMCP-03-06-020...,HTMCP-03-06-02001,A56295
2,/projects/NCI/NCI_HIV_Cervical/HTMCP-03-06-020...,HTMCP-03-06-02001,A59546
3,/projects/NCI/NCI_HIV_Cervical/HTMCP-03-06-020...,HTMCP-03-06-02002,A37701
4,/projects/NCI/NCI_HIV_Cervical/HTMCP-03-06-020...,HTMCP-03-06-02002,A56296

In [33]:
f = '/projects/trans_scratch/validations/workspace/szong/Cervical/variant_bwamem/124_patients_new/118_patients_bam_vcf_20200224.csv'
rnas = pd.read_csv(f)['RNA_lib'].dropna()
rnas
len(rnas)

0      A37700
2      A37701
4      A37702
6      A37704
8      A37706
        ...
226    A78494
228    A78495
230    A78497
232    A78498
234    A78501
Name: RNA_lib, Length: 118, dtype: object

118

### 56 old tumour char results

In [97]:
files = files[files.rna.isin(rnas)]
files = files[files.pat.isin(patsold)]
files.shape
files.head(2)

(56, 3)

,file,pat,rna
3,/projects/NCI/NCI_HIV_Cervical/HTMCP-03-06-020...,HTMCP-03-06-02002,A37701
6,/projects/NCI/NCI_HIV_Cervical/HTMCP-03-06-020...,HTMCP-03-06-02003,A37702

In [100]:
files['file'][3]

'/projects/NCI/NCI_HIV_Cervical/HTMCP-03-06-02002/drug_target_analysis/transient_latest_run/biop1_t_A37235_blood1_n_A37160/dataEXP/A37701/foldchange_ens69_20160202/HTMCP-03-06-02002.Expression_copy_number_drug_pathway.summary.Ranalysis.txt.reFC.annotated.tsv'

### 62 new tumour char results, 2 pending

In [120]:
# f = '/projects/trans_scratch/validations/workspace/szong/Cervical/cnv/60_NCI_Cervical_DTA_list.txt'
f = '/projects/trans_scratch/validations/workspace/szong/Cervical/cnv/185709_62_NCI_Cervical_DTA_list_20200225.txt'
new = pd.read_csv(f, header=None)
new.columns = ['file']
new['pat'] = [f.split('/')[4] for f in new['file']]
new['transit'] = [f.split('/')[6] for f in new['file']]
new['rna'] = [f.split('/')[9] for f in new['file']]
# ignore reviewed results to be consistent, 4 patients  
new = new[new.transit == 'transient_latest_run']
# len(new)
# new[:2]
new.head()
new.shape

,file,pat,transit,rna
0,/projects/NCI/NCI_HIV_Cervical/HTMCP-03-06-020...,HTMCP-03-06-02001,transient_latest_run,A37700
1,/projects/NCI/NCI_HIV_Cervical/HTMCP-03-06-020...,HTMCP-03-06-02012,transient_latest_run,A37707
2,/projects/NCI/NCI_HIV_Cervical/HTMCP-03-06-020...,HTMCP-03-06-02058,transient_latest_run,A37722
3,/projects/NCI/NCI_HIV_Cervical/HTMCP-03-06-021...,HTMCP-03-06-02108,transient_latest_run,A50337
4,/projects/NCI/NCI_HIV_Cervical/HTMCP-03-06-021...,HTMCP-03-06-02152,transient_latest_run,A54470

(62, 4)

In [121]:
new['file'][0]

'/projects/NCI/NCI_HIV_Cervical/HTMCP-03-06-02001/drug_target_analysis/transient_latest_run/biop1_t_A37234_blood1_n_A37159/dataEXP/A37700/foldchange_ens69_20160202/HTMCP-03-06-02001.Expression_copy_number_drug_pathway.summary.Ranalysis.txt.reFC.annotated.tsv'

### merge two sets of results

In [122]:
dfm = pd.concat([files, new], sort=False)
dfm.shape

(118, 4)

In [123]:
dfm.head(2)

,file,pat,rna,transit
3,/projects/NCI/NCI_HIV_Cervical/HTMCP-03-06-020...,HTMCP-03-06-02002,A37701,NaN
6,/projects/NCI/NCI_HIV_Cervical/HTMCP-03-06-020...,HTMCP-03-06-02003,A37702,NaN

In [71]:
cols_base = ['chr', 'start', 'end',  'cytoband', 'ensid', 'hugo', 'copy_category', 'ploidy_corrected_copy_number']

In [153]:
genes = ['PIK3CA',
 'FAT1',
 'KMT2D',
 'FBXW7',
 'CASP8',
 'SLC35G5',
 'PCDHGA12',
 'MAPK1',
 'PSPC1',
 'ZNF750',
 'PCDHA9',
 'ZC3H6']

In [117]:
new.head(2)

,file,pat,transit,rna
0,/projects/NCI/NCI_HIV_Cervical/HTMCP-03-06-020...,HTMCP-03-06-02001,transient_latest_run,A59546
1,/projects/NCI/NCI_HIV_Cervical/HTMCP-03-06-020...,HTMCP-03-06-02012,transient_latest_run,A59551

In [157]:
dff = pd.DataFrame()
for i, row in dfm.iterrows():
    f, patient, rna, *other = row
#     print(patient, rna, f)
#     cols = ['hugo', 'copy_category']
    cols = ['hugo', 'ploidy_corrected_copy_number']
    df = pd.read_csv(f, comment='#', sep='\t', usecols=cols, low_memory=False)
    df['patient'] = patient
    if dff.empty:
        dff = df
    else: 
        dff = pd.concat([dff, df], sort=False)

In [158]:
dff.head()
dfp = dff.pivot_table(index='hugo', columns='patient', aggfunc=lambda x: x)

       hugo  ploidy_corrected_copy_number            patient
0    TSPAN6                           5.0  HTMCP-03-06-02002
1      TNMD                           5.0  HTMCP-03-06-02002
2      DPM1                           2.0  HTMCP-03-06-02002
3     SCYL3                           3.0  HTMCP-03-06-02002
4  C1orf112                           3.0  HTMCP-03-06-02002

In [133]:
dff.shape

(4722396, 3)

In [159]:
dfp.shape
dfp.head()

(35149, 118)

        ploidy_corrected_copy_number                                      \
patient            HTMCP-03-06-02001 HTMCP-03-06-02002 HTMCP-03-06-02003
hugo
A1BG                               2                 2                 2
A1CF                               2                 2                 1
A2M                                2                 2                 3
A2M-AS1                            2               NaN               NaN
A2ML1                              2                 2                 2

                                                               \
patient HTMCP-03-06-02006 HTMCP-03-06-02008 HTMCP-03-06-02012
hugo
A1BG                    3                 2                 2
A1CF                    2                 2                 2
A2M                     2                 2                 2
A2M-AS1               NaN               NaN                 2
A2ML1                   2                 2                 2

                                                               \
patient HTMCP-03-06-02013 HTMCP-03-06-02020 HTMCP-03-06-02036
hugo
A1BG                    4                 2                 2
A1CF                    2                 2                 2
A2M                     2                 2                 2
A2M-AS1               NaN               NaN               NaN
A2ML1                   2                 2                 2

                           ...                                      \
patient HTMCP-03-06-02037  ... HTMCP-03-06-02417 HTMCP-03-06-02424
hugo                       ...
A1BG                    3  ...                 3                 2
A1CF                    2  ...                 3                 2
A2M                     2  ...                 4                 1
A2M-AS1               NaN  ...                 4                 1
A2ML1                   2  ...                 4                 1

                                                               \
patient HTMCP-03-06-02427 HTMCP-03-06-02428 HTMCP-03-06-02434
hugo
A1BG                    4                 2                 2
A1CF                    5                 1                 2
A2M                     4                 2                 2
A2M-AS1                 4                 2                 2
A2ML1                   4                 2                 2

                                                               \
patient HTMCP-03-06-02435 HTMCP-03-06-02437 HTMCP-03-06-02441
hugo
A1BG                    3                 4                 4
A1CF                    3                 3                 4
A2M                     3                 3                 3
A2M-AS1                 3                 3                 3
A2ML1                   3                 3                 3


patient HTMCP-03-06-02442 HTMCP-03-06-02447
hugo
A1BG                    3                 4
A1CF                    2                 4
A2M                     3                 5
A2M-AS1                 3                 5
A2ML1                   3                 5

[5 rows x 118 columns]

In [150]:
dfp.columns.get_level_values(1)

Index(['HTMCP-03-06-02001', 'HTMCP-03-06-02002', 'HTMCP-03-06-02003',
       'HTMCP-03-06-02006', 'HTMCP-03-06-02008', 'HTMCP-03-06-02012',
       'HTMCP-03-06-02013', 'HTMCP-03-06-02020', 'HTMCP-03-06-02036',
       'HTMCP-03-06-02037',
       ...
       'HTMCP-03-06-02417', 'HTMCP-03-06-02424', 'HTMCP-03-06-02427',
       'HTMCP-03-06-02428', 'HTMCP-03-06-02434', 'HTMCP-03-06-02435',
       'HTMCP-03-06-02437', 'HTMCP-03-06-02441', 'HTMCP-03-06-02442',
       'HTMCP-03-06-02447'],
      dtype='object', name='patient', length=118)

In [160]:
dfp.columns = dfp.columns.droplevel(0)

In [175]:
of = '/projects/trans_scratch/validations/workspace/szong/Cervical/cnv/tumour_char_copy_number_results_20200225.tsv'
of = '/projects/trans_scratch/validations/workspace/szong/Cervical/cnv/ploidy_corrected_copy_number_20200225.tsv'
# dfp.to_csv(of, sep='\t', index=True)

In [165]:
dfsmg = dfp.loc[genes,pats]

In [182]:
df1 = pd.read_csv(of, sep='\t', index_col='hugo')
df1 = df1.loc[genes, pats]
df1.head()

,HTMCP-03-06-02260,HTMCP-03-06-02214,HTMCP-03-06-02074,HTMCP-03-06-02428,HTMCP-03-06-02215,HTMCP-03-06-02036,HTMCP-03-06-02040,HTMCP-03-06-02139,HTMCP-03-06-02002,HTMCP-03-06-02063,...,HTMCP-03-06-02377,HTMCP-03-06-02332,HTMCP-03-06-02222,HTMCP-03-06-02197,HTMCP-03-06-02194,HTMCP-03-06-02185,HTMCP-03-06-02156,HTMCP-03-06-02037,HTMCP-03-06-02008,HTMCP-03-06-02046
hugo,,,,,,,,,,,,,,,,,,,,,
PIK3CA,4.0,4.0,4.0,4.0,4.0,7.0,3.0,5.0,8.0,4.0,...,2.0,4.0,6.0,7.0,4.0,5.0,2.0,7.0,2.0,4.0
FAT1,2.0,2.0,1.0,2.0,2.0,1.0,2.0,1.0,2.0,2.0,...,2.0,2.0,3.0,4.0,2.0,4.0,1.0,2.0,2.0,2.0
KMT2D,2.0,2.0,2.0,2.0,3.0,2.0,3.0,2.0,2.0,2.0,...,4.0,2.0,3.0,5.0,2.0,5.0,2.0,2.0,2.0,2.0
FBXW7,2.0,3.0,1.0,2.0,2.0,1.0,2.0,1.0,2.0,2.0,...,2.0,2.0,3.0,4.0,2.0,4.0,1.0,2.0,2.0,2.0
CASP8,3.0,3.0,1.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,...,2.0,2.0,3.0,3.0,2.0,5.0,2.0,2.0,2.0,2.0

In [179]:


assert (dfsmg.columns == pats).all()

In [183]:
of = '/projects/trans_scratch/validations/workspace/szong/Cervical/cnv/tumour_char_copy_number_results_smgs_20200225.tsv'
of = '/projects/trans_scratch/validations/workspace/szong/Cervical/cnv/ploidy_correted_copy_number_smgs_20200225.tsv'
# dfsmg.to_csv(of, sep='\t', index=True)
df1.to_csv(of, sep='\t', index=True)

### below outdated

In [73]:
dff = pd.DataFrame()
for i, row in dfm.iterrows():
    patient, rna = np.array(f.split('/'))[[4, 9]]
    print(patient)
    col = rna + '_RPKM'
    cols = cols_base + [col]
    df = pd.read_csv(f, comment='#', sep='\t', usecols=cols, low_memory=False)
    df = df[df['hugo'].isin(genes)]
    df['patient'] = patient
    df['rna'] = rna
    df.rename(columns={col: 'expression'}, inplace=True)
    if dff.empty:
        dff = df
    else: dff = pd.concat([dff, df], sort=False)

IndexError: index 4 is out of bounds for axis 0 with size 1

In [70]:
of = '/projects/trans_scratch/validations/workspace/szong/Cervical/cnv/tumour_char_copy_number_results_20200211.tsv'
# dfm.to_csv(of, sep='\t', index=False)

In [71]:
dfm.head()

,chr,start,end,cytoband,ensid,hugo,copy_category,hmm,hmm_list,copy_change,...,loh_region,TCGA_percentile,CESC_percentile,TCGA_norm_percentile,CESC_norm_percentile,avg_TCGA_percentile,avg_TCGA_norm_percentile,expression,patient,rna
866,2,202098166.0,202152434.0,q33.1,ENSG00000064012,CASP8,Homozygous Loss,0.0,0,-2.0,...,Yes,11.0,2.0,10.0,33.0,11.0,10.0,1.51,HTMCP-03-06-02001,A37700
1611,4,187508937.0,187647876.0,q35.2,ENSG00000083857,FAT1,Neutral,2.0,2,0.0,...,No,79.0,86.0,77.0,100.0,79.0,77.0,22.69,HTMCP-03-06-02001,A37700
2158,22,22108789.0,22221970.0,q11.22,ENSG00000100030,MAPK1,Neutral,2.0,2,0.0,...,No,25.0,33.0,17.0,33.0,25.0,17.0,19.40,HTMCP-03-06-02001,A37700
3670,4,153242410.0,153456172.0,q31.3,ENSG00000109670,FBXW7,Neutral,2.0,2,0.0,...,No,89.0,94.0,84.0,100.0,89.0,84.0,6.60,HTMCP-03-06-02001,A37700
5132,13,20248896.0,20357142.0,q12.11,ENSG00000121390,PSPC1,Neutral,2.0,2,0.0,...,No,29.0,15.0,50.0,33.0,29.0,50.0,10.56,HTMCP-03-06-02001,A37700

pivot

In [76]:
dfp = dfm.pivot_table(values='copy_category', index=('patient', 'rna'), columns='hugo', aggfunc=lambda x:x).reset_index()

In [77]:
dfp.head(2)

hugo,patient,rna,CASP8,FAT1,FBXW7,KMT2D,MAPK1,PCDHA9,PCDHGA12,PIK3CA,PSPC1,SLC35G5,ZC3H6,ZNF750
0,HTMCP-03-06-02001,A37700,Homozygous Loss,Neutral,Neutral,Neutral,Neutral,Neutral,Neutral,Amplification,Neutral,Neutral,Loss,Neutral
1,HTMCP-03-06-02001,A56295,Homozygous Loss,Neutral,Neutral,Neutral,Neutral,Neutral,Neutral,Amplification,Neutral,Neutral,Loss,Neutral

In [85]:
dfq = dfp[['patient', 'rna'] + genes]
dfq.head(2)

hugo,patient,rna,PIK3CA,FAT1,KMT2D,FBXW7,CASP8,SLC35G5,PCDHGA12,MAPK1,PSPC1,ZNF750,PCDHA9,ZC3H6
0,HTMCP-03-06-02001,A37700,Amplification,Neutral,Neutral,Neutral,Homozygous Loss,Neutral,Neutral,Neutral,Neutral,Neutral,Neutral,Loss
1,HTMCP-03-06-02001,A56295,Amplification,Neutral,Neutral,Neutral,Homozygous Loss,Neutral,Neutral,Neutral,Neutral,Neutral,Neutral,Loss

In [98]:
dfq.shape

(135, 14)

In [104]:
pats_ran = dfq[dfq.patient.isin(pats)]['patient'].unique()

In [112]:
(set(pats) - set(pats_ran)).intersection(set(pats_cp))

{'HTMCP-03-06-02225',
 'HTMCP-03-06-02260',
 'HTMCP-03-06-02267',
 'HTMCP-03-06-02328',
 'HTMCP-03-06-02344',
 'HTMCP-03-06-02428',
 'HTMCP-03-06-02441'}

In [91]:
dfr = dfq.set_index('patient').loc[pats, :].T

In [115]:
dfr.head(2)

patient,HTMCP-03-06-02260,HTMCP-03-06-02214,HTMCP-03-06-02074,HTMCP-03-06-02074,HTMCP-03-06-02074,HTMCP-03-06-02428,HTMCP-03-06-02215,HTMCP-03-06-02036,HTMCP-03-06-02036,HTMCP-03-06-02036,...,HTMCP-03-06-02194,HTMCP-03-06-02185,HTMCP-03-06-02156,HTMCP-03-06-02037,HTMCP-03-06-02037,HTMCP-03-06-02037,HTMCP-03-06-02008,HTMCP-03-06-02046,HTMCP-03-06-02046,HTMCP-03-06-02046
hugo,,,,,,,,,,,,,,,,,,,,,
rna,NaN,A52366,A37730,A56316,A59567,NaN,A52367,A37714,A56303,A59554,...,A52359,A52354,A52346,A37715,A56304,A59555,A37706,A37718,A56307,A59727
PIK3CA,NaN,Gain,Gain,Gain,Gain,NaN,Gain,Amplification,Amplification,Amplification,...,Gain,Neutral,Neutral,Amplification,Amplification,Amplification,Neutral,Gain,Gain,Gain

In [121]:
dfr.loc[['rna']+genes, dfr.columns.isin(pats_cp)].to_csv(of, sep='\t')

In [120]:
of = '/projects/trans_scratch/validations/workspace/szong/Cervical/cnv/tumour_char_copy_number_results_ordered_20200211.tsv'
# dfr.to_csv(of, sep='\t')

In [93]:
dfr.shape

(13, 185)

In [97]:
dfr.dropna().columns.nunique()

118

In [109]:
pats_cp = ['HTMCP-03-06-02260', 'HTMCP-03-06-02428', 'HTMCP-03-06-02215',
       'HTMCP-03-06-02002', 'HTMCP-03-06-02063', 'HTMCP-03-06-02328',
       'HTMCP-03-06-02001', 'HTMCP-03-06-02344', 'HTMCP-03-06-02068',
       'HTMCP-03-06-02203', 'HTMCP-03-06-02075', 'HTMCP-03-06-02089',
       'HTMCP-03-06-02108', 'HTMCP-03-06-02110', 'HTMCP-03-06-02020',
       'HTMCP-03-06-02441', 'HTMCP-03-06-02128', 'HTMCP-03-06-02151',
       'HTMCP-03-06-02205', 'HTMCP-03-06-02225', 'HTMCP-03-06-02267',
       'HTMCP-03-06-02037']

### patient in order in the oncoprint

In [214]:
pats = ['HTMCP-03-06-02260',
 'HTMCP-03-06-02214',
 'HTMCP-03-06-02074',
 'HTMCP-03-06-02428',
 'HTMCP-03-06-02215',
 'HTMCP-03-06-02036',
 'HTMCP-03-06-02040',
 'HTMCP-03-06-02139',
 'HTMCP-03-06-02002',
 'HTMCP-03-06-02063',
 'HTMCP-03-06-02042',
 'HTMCP-03-06-02328',
 'HTMCP-03-06-02240',
 'HTMCP-03-06-02262',
 'HTMCP-03-06-02001',
 'HTMCP-03-06-02012',
 'HTMCP-03-06-02411',
 'HTMCP-03-06-02070',
 'HTMCP-03-06-02322',
 'HTMCP-03-06-02346',
 'HTMCP-03-06-02148',
 'HTMCP-03-06-02333',
 'HTMCP-03-06-02120',
 'HTMCP-03-06-02145',
 'HTMCP-03-06-02170',
 'HTMCP-03-06-02238',
 'HTMCP-03-06-02268',
 'HTMCP-03-06-02335',
 'HTMCP-03-06-02340',
 'HTMCP-03-06-02341',
 'HTMCP-03-06-02344',
 'HTMCP-03-06-02179',
 'HTMCP-03-06-02447',
 'HTMCP-03-06-02149',
 'HTMCP-03-06-02092',
 'HTMCP-03-06-02068',
 'HTMCP-03-06-02013',
 'HTMCP-03-06-02047',
 'HTMCP-03-06-02203',
 'HTMCP-03-06-02174',
 'HTMCP-03-06-02075',
 'HTMCP-03-06-02435',
 'HTMCP-03-06-02097',
 'HTMCP-03-06-02210',
 'HTMCP-03-06-02175',
 'HTMCP-03-06-02152',
 'HTMCP-03-06-02098',
 'HTMCP-03-06-02213',
 'HTMCP-03-06-02242',
 'HTMCP-03-06-02202',
 'HTMCP-03-06-02354',
 'HTMCP-03-06-02235',
 'HTMCP-03-06-02427',
 'HTMCP-03-06-02058',
 'HTMCP-03-06-02150',
 'HTMCP-03-06-02266',
 'HTMCP-03-06-02113',
 'HTMCP-03-06-02230',
 'HTMCP-03-06-02089',
 'HTMCP-03-06-02180',
 'HTMCP-03-06-02209',
 'HTMCP-03-06-02099',
 'HTMCP-03-06-02182',
 'HTMCP-03-06-02006',
 'HTMCP-03-06-02108',
 'HTMCP-03-06-02392',
 'HTMCP-03-06-02196',
 'HTMCP-03-06-02155',
 'HTMCP-03-06-02261',
 'HTMCP-03-06-02239',
 'HTMCP-03-06-02264',
 'HTMCP-03-06-02110',
 'HTMCP-03-06-02020',
 'HTMCP-03-06-02176',
 'HTMCP-03-06-02256',
 'HTMCP-03-06-02320',
 'HTMCP-03-06-02441',
 'HTMCP-03-06-02326',
 'HTMCP-03-06-02219',
 'HTMCP-03-06-02128',
 'HTMCP-03-06-02125',
 'HTMCP-03-06-02417',
 'HTMCP-03-06-02144',
 'HTMCP-03-06-02147',
 'HTMCP-03-06-02151',
 'HTMCP-03-06-02195',
 'HTMCP-03-06-02205',
 'HTMCP-03-06-02217',
 'HTMCP-03-06-02225',
 'HTMCP-03-06-02259',
 'HTMCP-03-06-02330',
 'HTMCP-03-06-02393',
 'HTMCP-03-06-02103',
 'HTMCP-03-06-02424',
 'HTMCP-03-06-02434',
 'HTMCP-03-06-02109',
 'HTMCP-03-06-02442',
 'HTMCP-03-06-02076',
 'HTMCP-03-06-02071',
 'HTMCP-03-06-02437',
 'HTMCP-03-06-02003',
 'HTMCP-03-06-02216',
 'HTMCP-03-06-02414',
 'HTMCP-03-06-02396',
 'HTMCP-03-06-02267',
 'HTMCP-03-06-02204',
 'HTMCP-03-06-02054',
 'HTMCP-03-06-02057',
 'HTMCP-03-06-02377',
 'HTMCP-03-06-02332',
 'HTMCP-03-06-02222',
 'HTMCP-03-06-02197',
 'HTMCP-03-06-02194',
 'HTMCP-03-06-02185',
 'HTMCP-03-06-02156',
 'HTMCP-03-06-02037',
 'HTMCP-03-06-02008',
 'HTMCP-03-06-02046']

In [189]:
genes = ['PIK3CA',
 'FAT1',
 'MLL3',
 'FBXW7',
 'CASP8',
 'SLC35G5',
 'PCDHGA12',
 'MAPK1',
 'PSPC1',
 'ZNF750',
 'PCDHA9',
 'ZC3H6']

In [193]:
f = '/home/szong/bin/GISTIC_2_0_22/gatk_118_patients/all_thresholded.by_genes.txt'
dfcnv = pd.read_csv(f, sep='\t')
dfcnv.drop(['Locus ID', 'Cytoband'], axis=1, inplace=True)
dfcnv = dfcnv[dfcnv['Gene Symbol'].isin(genes)].set_index('Gene Symbol')
dfcnv = dfcnv.loc[genes, :]


# why these 2 patient are missing gistic thresholded cnvs
# excluded in the run because of high segment count as indicated in sample_seg_counts.txt file.
# because the marksfile is different for 2 runs, more markers in 118 patients, which resulted in higher segment count
# by looking into hiv+ and - runs, only 02344 has pik3ca amplification, no amp or del involving these two samples
dfcnv.loc[:,'HTMCP-03-06-02210' ] = 0
dfcnv.loc[:, 'HTMCP-03-06-02344' ] = 0
dfcnv.loc['PIK3CA', 'HTMCP-03-06-02344'] = 2

dfcnv = dfcnv.loc[genes, pats]

In [194]:
of = '/projects/trans_scratch/validations/workspace/szong/Cervical/cnv/GISTIC_copy_number_smgs_20200225.tsv'
# dfsmg.to_csv(of, sep='\t', index=True)
dfcnv.to_csv(of, sep='\t', index=True)

### look at expression

In [199]:
f = '/projects/trans_scratch/validations/workspace/szong/Cervical/expression/118_patient_rpkm.csv'
df = pd.read_csv(f, sep=',')

df.head()

,gene,HTMCP-03-06-02001,HTMCP-03-06-02002,HTMCP-03-06-02003,HTMCP-03-06-02006,HTMCP-03-06-02008,HTMCP-03-06-02012,HTMCP-03-06-02013,HTMCP-03-06-02020,HTMCP-03-06-02036,...,HTMCP-03-06-02417,HTMCP-03-06-02424,HTMCP-03-06-02427,HTMCP-03-06-02428,HTMCP-03-06-02434,HTMCP-03-06-02435,HTMCP-03-06-02437,HTMCP-03-06-02441,HTMCP-03-06-02442,HTMCP-03-06-02447
0,10_PPIB,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,12_FKBP10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,13_CALCA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,15_UBE3A,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,16_ADA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [207]:
df1 = df[df.gene.isin(genes)].set_index('gene')
of = '/projects/trans_scratch/validations/workspace/szong/Cervical/cnv/rpkm_smgs_20200225.tsv'
df1.loc[genes, pats].to_csv(of, sep='\t')